{
    "projectName": "mcp",
    "region": "us-west-2",
    "accountId": "",
    "knowledge_base_id": "",
    "agent_runtime_role": "",
    "agent_runtime_arn": "",
    "cognito": {
        "discovery_url": "",
        "policy_name": "MCPServerAuthPolicy",
        "identity_pool_id": "",
        "identity_pool_name": "mcp-agentcore-identity-pool",
        "user_pool_id": "",
        "user_pool_name": "mcp-agentcore-user-pool",
        "client_id": "",
        "client_name": "mcp-agentcore-client",
        "region": "us-west-2",
        "test_username": "mcp-test-user@example.com",
        "test_password": ""
    },
    "secret_name": "mcp/credentials"
}